.password-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
}
.password-container .update-password {
  display: flex;
  padding: 0;
  margin: 0;
}
.password-container label {
  font-size: 25px;
  margin-bottom: 20px;
}
.update-password input {
  padding: 20px;
  margin-bottom: 20px;
}
.update-password button {
  padding: 20px;
  cursor: pointer;
}
.p-error {
  color: red;
  font-size: 20px;
}
